<h1 class="text-center">Random Weezy Generator!</h1>
<h4 class="text-center">Click the button to randomly generate the lyrics to your favorite Lil' Wayne beats:</h4>

<%= link_to "Excellent Beat Lyrics", weezy_path, class: "btn btn-primary btn-lg center-block" %>
